<h1>Your daily records</h1>

<%= link_to "Create new record", new_product_record_path %><br>
<%= link_to "View weight graph", graph_path %><br>
<%= link_to "Back", products_path %> <br>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Weight</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @product_records.each do |product_record| %>
      <tr>
        <td><%= product_record.date %></td>
        <td><%= product_record.weight %> kg</td>
        <td><%= link_to "Add products", new_product_record_product_record_product_path(product_record) %>
            <%= link_to "View products", product_record_path(product_record) %>
        </td>
        

      </tr>
    <% end %>
  </tbody>
</table>