<html>
<head>
  <%= stylesheet_link_tag "application", media: "all" %>
</head>
<body> 
<% if user_signed_in? %>
  <p>welcome, <%= @user %> !</p>
      <%= button_to "Log out", destroy_user_session_path, method: :delete %>
      <%= link_to "Your food diary", product_records_path, method: :index %><br>
<%= link_to "Your weight evolution", graph_path %><br>
      Add a new product: <%= link_to "New product", new_product_path %><br>
    </nav>
<% end %>
    <nav>
    <main>
      <%= yield %>
    </main>
<h3>Current date: <%= Time.now.strftime("%A %d/%m/%Y ") %></h3>

<h3>List of product:</h3>
<% @products.each do |product| %>
Name: <%= product.name %><br>
Showcase: <br> <%= image_tag product.image_url if product.image %><br>
Category: <%= product.category.name %><br>
Calories: <%= product.kcals %>/kg<br>
See details: <%= link_to "Details", product_path(product) %><br>
Remove it: <%= button_to "Delete", product_path(product), method: :delete %><br>
<% end %>




</body>

</html>
